<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BLOG</title>
</head>
<body>
    <h1>This is a Blog</h1>
    <h2>Todays date is {{date}}</h2>
    <h3>what is a client?</h3>
    <p>A client is a computer that obtains information and applications from a server</p>
    <h3>what is a server?</h3>
    <p>a server is a computer/program that manages access to a resource and provides responses to client requests </p>
    <h3>what is an HTTP request?</h3>
    <p>an HTTP request is a request from client to server over the hypertext transfer protocol</p>
    <h3>what is an HTTP response?</h3>
    <p>an HTTP response is a response to the client from the server over hypertext transfer protocol</p>
    <h3>what is Django and why do we use it?</h3>
    <p>Django is a web framework encouraging rabit development and clean design.</p>
    <p>a web application framework is a toolkit of components all web applications need</p>
</body>
</html>